.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}
.sub-title{
    position:relative;
}
.sub-title h1{
    font-size: 40px;
    font-weight: 700;
}
.projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:40px;
    margin-bottom: 80px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    border:2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.project:hover{
    transform: scale(1.05);
    border: 2px solid rgb(62, 104, 222);
}